:root{
    /* Primary */

    --orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    
    /* Neutral */
    
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --lightbox-Bg: hsla(0, 0%, 0%, 0.75);
    
}

*{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: 'Kumbh sans', sans-serif;
    font-size: 1rem;
}

/* fonts */

h1{
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
h2{
    font-size: 1.8rem;
    margin-bottom: 10px;
    line-height: 30px;
}
p{
    
    font-weight: 400;
    line-height: 22px;
}

.top-bar{
    align-content: center;
    background-color: var(--white);
    display: flex;
    height: 64px;
    justify-content: space-between;
    padding: 16px 16px 8px 0;
    width: 100%;
}
.top-bar div{
    align-items: center;
    display: flex;    
    justify-content: space-between;
    
    
}
.user{
    height: 70%;
}
.user img{
    height: 100%;
    margin-left: 16px;
}
nav{
    background-color: white;
    height: 100vh;
    left: -60%;
    padding: 15px ;
    position: fixed;
    top: 0;
    width: 60%;
    transition: left 0.3s ease-in-out;
}
nav ul li{
    margin: 20px 0;
}
.show-nav{
    left: 0;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    opacity: 0;
    position: fixed;
    right: 0;
    pointer-events: none;
    top: 0;
    transition: 0.5s ease-in-out;
    width: 40%;
    z-index: 1;
}
.show-overlay{
    opacity: 1;
}
button, .home-logo, .add.cart{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: transparent;
    border: transparent;
    height: 20px;
    width: 20px;
}
button:hover{
    cursor: pointer;
}
.open-nav{
    background-image: url(images/icon-menu.svg);
    margin-left: 15px;
}
.cart{
    background-image: url(images/icon-cart.svg);
    
}
.close-nav{
    background-image: url(images/icon-close.svg);
    margin-top: 12px;
    margin-bottom: 30px;
}
.home-logo{
    align-self: center;
    background-image: url(images/logo.svg);
    display: inline-block;
    height: 25px;
    margin-top: -3px;
    width: 210px;
}

main div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
main div img{
    max-width: 100%;
}
main ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.next, .previous{
    background-size: 12px;
    height: 35px;
    width: 35px;

}
.next{
    background-image: url(images/icon-next.svg);
    background-color: var(--white);
    border-radius: 50%;
    margin-left: -50px;
}
.previous{
    background-image: url(images/icon-previous.svg);
    background-color: var(--white);
    border-radius: 50%;
    margin-right: -50px;
    z-index: 1;
}
.text-content{
    display: block;
    padding: 20px 18px;
}
.description{
    margin-bottom: 25px;
}
.price{
    align-items: center;
    display: flex;
    width: 100%;
}
.discount-price{
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.discount{
    background-color: var(--very-dark-blue);
    border-radius: 7px;
    color: var(--white);
    font-size: 1.25rem;
    margin-left: 20px;
    padding: 8px 10px;
}
.full-price{
    color: var(--dark-grayish-blue);
    font-weight: 600;
    margin-left: auto;
    text-decoration: line-through;
}
.amount{
    align-items: center;
    background-color: var(--light-grayish-blue);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 18px;
}
.minus{
    background-image: url(images/icon-minus.svg);
}
.plus{
    background-image: url(images/icon-plus.svg);
}
.add-item, .checkout{
    align-items: center;
    background-color: var(--orange);
    border-radius: 10px;
    height: 60px;
    padding: 0 20px;
    width: 100%;
}
.add-item img{
    fill: black;
    width: 15px;
    margin-right: 15px;
}
.add:hover{
    background-color: hsla(26, 100%, 55%, 0.679);
}
.cart-content{
    background-color: var(--white);
    border-radius: 10px;
    display: none;
    max-width: 450px;
    padding: 15px;
    position: fixed;
    top: 10px;
}
.cart-content p{
    border-bottom: 1px solid var(--grayish-blue);
    margin-bottom: 20px;
    padding-bottom: 20px;
}