:root{
    /* Primary */

    --orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    
    /* Neutral */
    
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --lightbox-Bg: hsla(0, 0%, 0%, 0.75);
    
}

*{
    box-sizing: border-box;
    color: var(--dark-grayish-blue);
    line-height: 1.5;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: 'Kumbh sans', sans-serif;
    font-size: 1rem;
}
body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 65%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.379);
    opacity: 0;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
}
body.overlay::before{
    opacity: 1;
}

/* fonts */

h1{
    font-size: 1rem;
    font-weight: 500;
    letter-spacing:normal;
    margin-bottom: 10px;
}
h2{
    font-size: 1.8rem;
    margin-bottom: 10px;
    line-height: 1.3;
}
p{
    font-weight: 400;
}

.top-bar{
    align-content: center;
    background-color: var(--white);
    display: flex;
    height: 64px;
    justify-content: space-between;
    padding: 16px 16px 8px 0;
    width: 100%;
}
.top-bar div{
    align-items: center;
    display: flex;    
    justify-content: space-between;
    max-width: 30%;
    width: 70px;
}
.user{
    height: 70%;
}
.user img{
    height: 100%;
    margin-left: 16px;
}
.nav-dialog{
    background-color: white;
    border: transparent;
    height: 100vh;
    max-height: 100%;
    padding: 15px;
    position: fixed;
    top: 0;
    transition: left 0.3s ease-in-out;
    width: 65%;
    z-index: 2;
}
nav ul li{
    margin: 20px 0;
}
.show-nav{
    left: 0;
}

button, .home-logo, .add.cart{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: transparent;
    border: transparent;
    height: 20px;
    width: 20px;
}
button:hover{
    cursor: pointer;
}
.open-nav{
    background-image: url(images/icon-menu.svg);
    margin-left: 15px;
}
.cart-logo{
    background-image: url(images/icon-cart.svg);
    
}
.close-nav{
    background-image: url(images/icon-close.svg);
    margin-top: 12px;
    margin-bottom: 30px;
}
.home-logo{
    align-self: center;

    display: inline-block;
    height: 25px;
}

main > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
main div img{
    max-width: 100%;
}
main ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.next, .previous{
    background-size: 12px;
    height: 35px;
    width: 35px;

}
.next{
    background-image: url(images/icon-next.svg);
    background-color: var(--white);
    border-radius: 50%;
    margin-left: -50px;
}
.quantity{
    border: transparent;
    background-color: transparent;
    text-align: center;
    width: 30px;

}
.previous{
    background-image: url(images/icon-previous.svg);
    background-color: var(--white);
    border-radius: 50%;
    margin-right: -50px;
    z-index: 1;
}
.text-content{
    display: block;
    padding: 20px 18px;
}
.description{
    margin-bottom: 25px;
}
.price{
    align-items: center;
    display: flex;
    width: 100%;
}
.discount-price{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.discount{
    background-color: var(--very-dark-blue);
    border-radius: 7px;
    color: var(--white);
    margin-left: 20px;
    padding: 3px 10px;
}
.full-price{
    color: var(--dark-grayish-blue);
    font-weight: 600;
    margin-left: auto;
    text-decoration: line-through;
}
.quantity-container{
    align-items: center;
    background-color: var(--light-grayish-blue);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 18px;
}
.minus{
    background-image: url(images/icon-minus.svg);
}
.plus{
    background-image: url(images/icon-plus.svg);
}
.add-item, .checkout{
    align-items: center;
    background-color: var(--orange);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 15px 0;
    padding: 25px 20px;
    width: 100%;
}
.add-item img{
    fill: black;
    width: 15px;
    margin-right: 15px;
}
.add-item:hover{
    background-color: hsla(26, 100%, 55%, 0.679);
}
.cart-wrapper{
    width: 0px;
}
.cart{
    background-color: var(--white);
    border-radius: 10px;
    display: none;
    max-width: 400px;
    height: 250px;
    width: 94%;
    padding: 15px 15px;
    position: fixed;
    top: 70px;
    right: 50%;
    translate: 50%;
    z-index: 1;
}
.cart > p:first-child{
    border-bottom: 1px solid var(--grayish-blue);
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.empty{
    display: block;
    margin: 80px auto 0 auto;
    text-align: center;
}
.delete{
    background-image: url(images/icon-delete.svg);
}
.item-gotten{
    display: flex;
    gap: 5px;
}
.item-gotten img{
    height: 20px;
    width: 20px;
}
.result{
    font-weight: 700;
}

@media screen and (min-width:60rem) {
    body{
        padding: 25px 10%;
    }

    h1{
        font-size: 1.1rem;
    }
    h2{
        font-size: 2.1rem;
        margin-bottom: 25px;
    }

    .nav-dialog{
        background-color: transparent;
        border: transparent;
        display: flex;
        margin-top: -85px;
        margin-left: 17%;
        height: auto;
        max-height: auto;
        padding: 25px 15px;
        position: static;
        width: 45%;
        
    }
    nav{
        width: 100%;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .close-nav, .open-nav {
        display: none;
    }

    main{
        display: flex;
        margin: auto;
        width: 90%;
    }
    .displayedImage{
        border-radius: 10px;
    }
    .text-content{
        margin-left: 12%;
    }
    .quantity-wrapper{
        align-items: center;
        display: flex;
    }
    .quantity-container{
        margin-right: 10px;
        width: 55%;
    }



}

.show{
    display: block;
}
.show-flex{
    display: flex;
}
.hide{
    display: none;
}